<%= form_with(model: train, local: true) do |form| %>
  
  <%= render 'common/errors', resource: train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :train_number %>
  </div>

  <div class="field">
    <%= form.label :route, "Выбрать маршрут" %>
    <%= form.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit "#{ train.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
