<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <% if @train.route.present? %>
    <strong>Маршрут:</strong>
    <%= @train.route.title %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Купейных вагонов в поезде:</strong>
  <%= @train.coupe_carriages.size %>
</p>

<p>
  <strong>Плацкартных вагонов в поезде:</strong>
  <%= @train.platscard_carriages.size %>
</p>

<p>
  <strong>Купейных верхних мест:</strong>
  <%= @train.coupe_carriages.sum(:topseats) %>
</p>

<p>
  <strong>Купейных нижних мест:</strong>
  <%= @train.coupe_carriages.sum(:botseats) %>
</p>

<p>
  <strong>Плацкартных верхних мест:</strong>
  <%= @train.platscard_carriages.sum(:topseats) %>
</p>

<p>
  <strong>Плацкартных нижних мест:</strong>
  <%= @train.platscard_carriages.sum(:botseats) %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
