<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <% if @train.route.present? %>
    <strong>Маршрут:</strong>
    <%= @train.route.title %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Сортировка:</strong>
  <%= @train.head_sort ? "С головы поезда" : "С хвоста поезда" %>
</p>

<p>
  <% if @train.carriages.present? %>
    <strong>Вагоны:</strong>
    <% @train.carriages.choose_head(@train).each do |carriage| %>
    <%= link_to carriage.number, carriage %>
    <% end %>

    <p>
      <strong>Купейных вагонов в поезде:</strong>
      <%= @train.carriages.coupe.count %>
    </p>

    <p>
      <strong>Плацкартных вагонов в поезде:</strong>
      <%= @train.carriages.platscard.count %>
    </p>

    <p>
      <strong>Купейных верхних мест:</strong>
      <%= @train.carriages.coupe.sum(:topseats) %>
    </p>

    <p>
      <strong>Купейных нижних мест:</strong>
      <%= @train.carriages.coupe.sum(:botseats) %>
    </p>

    <p>
      <strong>Плацкартных верхних мест:</strong>
      <%= @train.carriages.platscard.sum(:topseats) %>
    </p>

    <p>
      <strong>Плацкартных нижних мест:</strong>
      <%= @train.carriages.platscard.sum(:botseats) %>
    </p>

  <% else %>
    У поезда нет вагонов
  <% end %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
