<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <% if @train.route.present? %>
    <strong>Маршрут:</strong>
    <%= @train.route.title %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <strong>Сортировка:</strong>
  <%= @train.head_sort ? "С головы поезда" : "С хвоста поезда" %>
</p>

<p>
  <% if @train.carriages.present? %>
    <strong>Вагоны:</strong>
    <ul>
      <% @train.carriages.choose_head(@train).each do |carriage| %>
        <li><%= link_to "Вагон № #{carriage.number}", carriage %></li>
      <% end %>
    </ul>

    <p>
      <strong>Купейных вагонов в поезде:</strong>
      <%= @train.carriages.coupe.count %>
    </p>

    <p>
      <strong>Плацкартных вагонов в поезде:</strong>
      <%= @train.carriages.platscard.count %>
    </p>

    <p>
      <strong>Купейных верхних мест:</strong>
      <%= @train.count_seats(:coupe_carriage, :topseats) %>
    </p>

    <p>
      <strong>Купейных нижних мест:</strong>
      <%= @train.count_seats(:coupe_carriage, :botseats) %>
    </p>

    <p>
      <strong>Плацкартных верхних мест:</strong>
      <%= @train.count_seats(:platscard_carriage, :topseats) %>
    </p>

    <p>
      <strong>Плацкартных нижних мест:</strong>
      <%= @train.count_seats(:platscard_carriage, :botseats) %>
    </p>

  <% else %>
    У поезда нет вагонов
  <% end %>
</p>

<p>
  <%= link_to "Добавить вагон", new_train_carriage_path(@train) %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
