<%= form_with(model: ticket, local: true) do |form| %>
  
  <%= render 'common/errors', resource: ticket %>

  <div class="field">
    <%= form.label :user_fullname %>
    <%= form.text_field :user_fullname, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :pasport_number %>
    <%= form.number_field :pasport_number, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :train_id, :value => params[:train_id] %>
    <%= form.hidden_field :start_station_id, :value => params[:start_station_id] %>
    <%= form.hidden_field :end_station_id, :value => params[:end_station_id] %>
  </div>

  <div class="actions">
    <%= form.submit "Купить", class: "btn btn-primary" %>
  </div>
<% end %>
