<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.train_id %></td>
  <td><%= ticket.start_station_title %></td>
  <td><%= ticket.end_station_title %></td>
  <td><%= ticket.user_id %></td>
  <td><%= ticket.user_fullname %></td>
  <td><%= ticket.pasport_number %></td>
  <td><%= link_to 'Показать', ticket %></td>
  <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
