<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @carriage.type %>
</p>

<%= render @carriage.type.underscore %>

<p>
  <strong>Входит в поезд:</strong>
  <%= @carriage.train.number %>
</p>

<p>
  <strong>Номер вагона в поезде:</strong>
  <%= @carriage.number %>
</p>

<%= link_to 'Изменить', edit_carriage_path(@carriage) %> |
<%= link_to 'Назад', carriages_path %>
