<tr>  
  <td><%= ticket.id %></td>
  <td><%= ticket.train_id %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.user_id %></td>
  <td><%= ticket.user_fullname %></td>
  <td><%= ticket.pasport_number %></td>
  <td><%= link_to 'Показать', [:admin, ticket] %></td>
  <td><%= link_to 'Изменить', edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to 'Удалить', [:admin, ticket], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
