<h1>Поиск билетов на поезд</h1>

<%= form_tag search_path, method: :post do %>
  <%= label_tag "Начальная станция" %>
  <%= select_tag "start_station", options_from_collection_for_select(@stations, "id", "title"), prompt: "Выберите станцию" %>
  <%= label_tag "Конечная станция" %>
  <%= select_tag "finish_station", options_from_collection_for_select(@stations, "id", "title"), prompt: "Выберите станцию" %>
  <br/><br/>
  <%= submit_tag "Поиск" %>
<% end %>
