<h1>Поиск билетов на поезд</h1>

<div class="row">
  <%= form_tag search_path, method: :post do %>
    <div class="col-md-4">
      <%= label_tag "Начальная станция" %>
      <%= select_tag "start_station", options_from_collection_for_select(@stations, "id", "title"), 
                     prompt: "Выберите станцию", class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= label_tag "Конечная станция" %>
      <%= select_tag "finish_station", options_from_collection_for_select(@stations, "id", "title"), 
                     prompt: "Выберите станцию", class: "form-control" %>
    </div>
    <div class="col-md-4">
      <br/>
      <%= submit_tag "Поиск", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
