<%= form_with(model: route, local: true) do |form| %>

  <%= render 'common/errors', resource: route %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit "#{ route.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
