<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
  <% if @route.trains.present? %>
    <strong>Поезда на маршруте:</strong>
    <% @route.trains.each do |train| %>
      <ul>
        <li>
          <%= train.number %>
        </li>
      </ul>
    <% end %>
  <% else %>
    Поездов на маршруте нет
  <% end %>
</p>

<p>
  <% if @route.railway_stations.present? %>
    <strong>Станции, входящие в маршрут:</strong>
    <table>
      <thead>
        <tr>
          <td width="100px">Название</td>
          <td>Позиция</td>
          <td>Время прибытия</td>
          <td>Время отправления</td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
          <%= render "route_station", station: station %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Станций в маршруте нет
  <% end %>
</p>

<%= link_to 'Изменить', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
